DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
REDIS_URL="redis://localhost:6379"

NEXT_PUBLIC_URL="http://localhost:3000"

BETTER_AUTH_SECRET=""
ENCRYPTION_KEY_V1=""

NEXT_PUBLIC_OAUTH_PROVIDER_ID=""
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
OAUTH_DISCOVERY_URL=""

PROXMOX_HOST=""
PROXMOX_NODE=""
PROXMOX_POOL=""
PROXMOX_TOKEN_ID=""
PROXMOX_TOKEN_SECRET=""
PROXMOX_CLOUD_VM_VMID_RANGE=""
PROXMOX_TEMPLATE_VMID_RANGE=""

OPNSENSE_API_ENDPOINT=""
OPNSENSE_API_KEY=""
OPNSENSE_API_SECRET=""
OPNSENSE_SUBNET_UUID=""
OPNSENSE_CLOUD_NETWORK_VLAN_ID=""